{{! TODO: refactor out legacy JS dependency. see js/overhaul/story/dropdown.js }}
{{#click-outside action=(action (mut isOpen) false)}}
<button class="btn" {{action 'toggleDropdown'}}>Subscribe to the podcast ▾</button>
<div class="dropdown-body">
  <div class="panel">
    {{#each items as |item|}}
      <a class="panel-link text--medium link--dark" href={{item.href}} target="_blank">
        {{podcast-icons item}}
      </a>
    {{/each}}
  </div>
  <!-- .panel -->
</div>
<!-- .dropdown-body -->
{{/click-outside}}
